## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [9]:
import os
import numpy as np
import pandas as pd

In [10]:
# 設定 data_path
dir_data = './data/'

In [11]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [15]:
app_train.shape

(307511, 122)

In [16]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 列出所有欄位

In [17]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [31]:
app_train['FLAG_OWN_CAR'][0:4]

0    N
1    N
2    Y
3    N
Name: FLAG_OWN_CAR, dtype: object

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [24]:
#排序
app_train.sort_values(by = 'FLAG_OWN_CAR')

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
184040,313313,0,Cash loans,F,N,Y,0,157500.0,327024.0,18391.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
184041,313314,0,Cash loans,F,N,Y,0,81450.0,983160.0,62964.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
184042,313315,0,Cash loans,F,N,N,0,90000.0,270000.0,18783.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184043,313316,0,Cash loans,F,N,N,0,67500.0,343800.0,16852.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184044,313317,0,Cash loans,F,N,Y,0,157500.0,285453.0,14701.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
184045,313318,0,Cash loans,M,N,Y,0,76500.0,211500.0,15520.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
184047,313320,0,Cash loans,F,N,Y,2,90000.0,675000.0,24376.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
184048,313321,0,Cash loans,F,N,Y,0,72000.0,269550.0,13095.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
184050,313327,0,Cash loans,M,N,N,1,184500.0,990000.0,29074.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
184051,313328,0,Cash loans,F,N,Y,0,168750.0,1575000.0,43312.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
184052,313329,0,Cash loans,F,N,N,0,112500.0,344043.0,14706.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
184053,313330,0,Cash loans,F,N,Y,0,112500.0,113760.0,7533.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
184054,313331,0,Cash loans,F,N,Y,0,144000.0,252000.0,11227.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
184056,313333,0,Cash loans,F,N,Y,0,135000.0,260568.0,25515.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
184057,313335,0,Cash loans,F,N,Y,0,94500.0,101880.0,5976.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
184058,313338,0,Cash loans,F,N,Y,0,157500.0,337761.0,17815.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
184059,313342,0,Cash loans,F,N,Y,0,157500.0,254700.0,25321.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
184061,313345,0,Cash loans,F,N,N,2,157500.0,1350000.0,39604.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
184062,313347,0,Cash loans,F,N,Y,0,175500.0,260568.0,27490.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
184065,313351,0,Cash loans,F,N,Y,0,225000.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
184069,313355,0,Cash loans,F,N,Y,1,112500.0,299772.0,16866.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
184070,313356,0,Cash loans,F,N,Y,0,135000.0,125640.0,6543.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
184071,313357,1,Revolving loans,F,N,N,1,112500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
184072,313358,1,Cash loans,M,N,N,0,54000.0,218016.0,15993.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
184076,313363,0,Cash loans,F,N,N,0,112500.0,679500.0,19867.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184039,313312,0,Cash loans,F,N,N,0,99000.0,900000.0,29034.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184038,313311,0,Revolving loans,F,N,Y,0,720000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184037,313310,1,Cash loans,M,N,N,1,135000.0,246357.0,29236.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
184035,313308,0,Cash loans,F,N,Y,0,202500.0,776254.5,25785.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201201,333222,0,Cash loans,F,Y,Y,0,180000.0,1312110.0,52168.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
201200,333221,0,Cash loans,M,Y,Y,0,112500.0,263686.5,17298.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
201199,333220,0,Cash loans,M,Y,Y,1,292500.0,447453.0,19840.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
70080,181295,0,Cash loans,F,Y,N,0,135000.0,862560.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
70081,181296,0,Cash loans,M,Y,Y,0,211500.0,1313707.5,44977.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
201195,333216,0,Cash loans,F,Y,N,0,175500.0,904500.0,40347.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
70085,181302,0,Cash loans,M,Y,Y,0,126000.0,288873.0,19435.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
201189,333209,0,Cash loans,M,Y,N,2,315000.0,1113840.0,50463.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
201188,333208,0,Cash loans,M,Y,N,0,157500.0,675000.0,53460.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,6.0
70089,181306,0,Cash loans,M,Y,N,0,180000.0,472500.0,24255.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
70091,181309,0,Revolving loans,F,Y,Y,2,180000.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
201183,333203,0,Cash loans,F,Y,N,1,121500.0,254700.0,24192.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
201182,333202,0,Cash loans,M,Y,Y,0,135000.0,545040.0,19705.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
201180,333200,0,Cash loans,F,Y,Y,0,225000.0,355806.0,27666.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
201176,333195,0,Cash loans,F,Y,Y,0,135000.0,256500.0,13914.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
201175,333194,0,Cash loans,M,Y,Y,0,112500.0,247500.0,15268.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
201174,333193,0,Cash loans,M,Y,N,0,382500.0,675000.0,17806.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
70096,181315,0,Cash loans,F,Y,N,0,157500.0,508495.5,24462.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
201171,333188,0,Cash loans,F,Y,N,0,135000.0,459000.0,13549.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
201164,333180,0,Cash loans,F,Y,Y,1,99000.0,942300.0,27679.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
70105,181326,0,Cash loans,F,Y,Y,1,135000.0,534204.0,32809.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
70106,181327,0,Cash loans,M,Y,N,0,189000.0,835380.0,35523.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
70109,181330,0,Cash loans,F,Y,N,1,67500.0,276277.5,22279.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
201157,333171,0,Cash loans,M,Y,N,1,315000.0,1223010.0,51948.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
70110,181331,0,Cash loans,F,Y,Y,0,90000.0,568908.0,26491.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,1.0
70112,181333,0,Cash loans,F,Y,Y,0,202500.0,1073263.5,60061.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
70118,181341,0,Cash loans,F,Y,Y,0,360000.0,1345500.0,39469.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,6.0
201147,333161,0,Cash loans,M,Y,Y,0,135000.0,494208.0,30235.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
201144,333157,0,Cash loans,M,Y,Y,0,180000.0,1178982.0,46885.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
153755,278202,0,Cash loans,F,Y,Y,1,270000.0,1169820.0,34335.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,0.0